* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

.body {
  display: grid;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.heder-navigation-wrap {
  background-color: #FFE17F;
  width: 1160px;
  min-height: 300px;
  margin-top: 40px;
  margin-inline: 140px;
}

.heder-logo {
  padding-left: 220px;
  width: 145px;
  height: 36px;
}

.heder-top {
  display: flex;
  width: 1040px;
  height: 40px;
}

.navigation-list {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  padding-inline: 60px;
}

.add-icon-num {
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  background-color: #FFFFFF;
  padding: 5px;
  border-radius: 50%;
}

.heder-top-link {
  text-decoration: none;
  color: black;
}

.heder-menu {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  text-transform: uppercase;
  display: flex;
  width: 1040px;
  height: 50px;
  justify-content: space-between;
  padding-inline: 60px;
  align-items: center;
}

.heder-catalog {
  padding-top: 30px;
}

.heder-menu-link {
  text-decoration: none;
  color: black;
  padding-top: 45px;
}

.catalog-open {
  width: 50px;
  height: 50px;
  background-color: #FFE17F;
  opacity: 0.3;
  border-radius: 50%;
  border: 2px solid #000000;
  margin-top: 30px;
  margin-left: 7px;
  align-items: center;
}

.heder-bottom {
  display: flex;
  flex-wrap: wrap;
}

.num {
  width: 250px;
  height: 135px;
}

.number {
  font-family: 'Rubik';
  font-weight: 700;
  font-size: 180px;
  line-height: 30px;
  margin-left: 861px;
  color: #FFFFFF;
}

.slider {
  background-color: transparent;
  width: 560xp;
  margin-left: 140px;
}

.slider-more {
  display: flex;
  padding-top: 51px;
}

.slider-about {
  margin-left: 40px;
}

.slider-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin-bottom: 29px;
}

.slider-text {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

.slider-link {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #FFE17F;
  margin-right: 264px;
  color: #000000;
  width: 220px;
  height: 8px;
}

.indicators {
  padding-inline: 20px;
}

.discription {
  display: flex;
  gap: 20px;
  justify-content: flex-start;
  width: 307px;
  height: 72px;
  padding-top: 49px;
  gap: 20px;
}

.discription-title {
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 36px;
  line-height: 30px;
  color: #000000;
}

.discription-about {
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #444444;
}

.category {
  display: flex;
  width: 1160px;
  margin-inline: 140px;
  justify-content: space-between;
}

.category-item {
  width: 160px;
  height: 253px;
}

.category-picture {
  background-color: #FFE17F;
  width: 97px;
  height: 55px;
  padding: 53px 31px;
}

.category-title {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
}

.property {
  display: flex;
  padding-inline: 140px;
  padding-top: 70px;
  width: 1160px;
  height: 319px;

}

.property-menu {
  list-style-type: none;

}

.property-item {}

.property-link {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
  margin-right: 120px;
}

.property-discription {
  width: 452px;
  height: 174px;
  margin-inline: 110px;
}

.property-line {
  width: 7px;
  height: 319px;
}



.property-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.property-about {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  width: 452px;
  height: 90px;
}

.property-decoration {
  width: 136px;
  height: 164px;
  margin-top: 72px;
}


/*headernew*/
.container {
  width: 1160px;
  margin: 0 auto;
}

.header {
  display: flow-root;
  background-color: #FFE17F;
  padding-left: 80px;
  padding-right: 40px;
  margin-top: 40px;
}

.logo {
  display: block;
  margin-top: -18px;
  margin-bottom: 30px;
}

.header-top {
  display: flex;
  align-items: center;
}

.search {
  display: flex;
  width: 517px;
  flex-shrink: 0;
  margin-right: 27px;
}

.search-field {
  flex-grow: 1;
  position: relative;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  margin-top: -8px;
}

.search-input {
  padding-right: 16px;
  padding-left: 48px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 2px solid #000000;
  border-radius: 50px 0 0 50px;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  background-color: transparent;
  width: 100%;
}

.search-input::placeholder {
  color: rgba(0, 0, 0, .3);
  opacity: 1;
}

.search-button {
  padding-right: 16px;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 2px solid #000000;
  border-radius: 0 50px 50px 0;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  background-color: transparent;
  width: 160px;
  flex-shrink: 0;
  margin-left: -2px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #000000;
  color: #FFFFFF;
}

.search-button:active {
  color: rgba(255, 255, 255, .3);
}

.search-button:disabled {
  opacity: .3;
  pointer-events: none;
}

.header-top-nav {
  display: flex;
  list-style: none;
  color: #000000;
  flex-grow: 1;
  padding: 0;
}

.header-top-nav-item:first-child {
  margin-right: auto;
}

.header-top-nav-item {
  margin-left: 18px;
}

.header-top-nav-link {
  display: flex;
  align-items: center;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-decoration: none;
  color: #000000;
  position: relative;
}

.header-top-nav-icon {
  flex-shrink: 0;
  margin-right: 12px;
}

.header-top-nav-num {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background-color: #FFFFFF;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  position: absolute;
  left: 0;
  top: 6px;
}

.header-top-nav-cart {
  padding-left: 13px;
}

.tooltip {
  width: 320px;
  min-height: 301px;
  background-color: #000000;
  margin-left: 993px;
}

.tooltip-item {
  display: flex;
  align-items: center;
  padding-inline: 20px;
  border-color:#FFFFFF;
  justify-content:space-between; 
}

.tooltip-item:active{
   opacity: 0.3;
}
.cart-item{
  display: flex;
  width: 223px;
  height: 47px;
}
.tlp-item:hover,
.tlp-item:focus-visible{
  opacity: 0.6;
  border: 2px solid #AF4FFF;
}

.tooltip-pic {
  width: 39px;
  height: 43px;
}

.tooltip-label {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  width: 121px;
  height: 40px;
  margin-left: 23px;
  margin-right: 87px;
}

.cart-dell {
  width: 10px;
  height: 10px;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 54px;
}

.cart-dell:active{
  opacity: 0.3;
}

.cart-dell:disabled{
  opacity: .3;
  pointer-events: none;
}

.btn-dell:hover,
.btn-dell:focus-visible{
  border: 2px solid #AF4FFF;
}
.cart-result {
  display: flex;
  gap: 10px;
  background-color: #1A1A1A;
  width: 320px;
  height: 44px;
  align-items: center;
  padding-inline: 20px;
}

.product {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  width: 120px;
  height: 44px;
  justify-content: left;
}

.price {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  width: 150px;
  height: 44px;
  justify-content: right;
}

.cart-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.cart-open {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  width: 280px;
  height: 50px;
  background-color: #FFFFFF;
  cursor: pointer;
}
