.body{
  display: grid;
}

.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-heder{

}

.heder-navigation-wrap{
  background-color: #FFE17F;
  width: 1160px;
  height: 300px;
  margin-top: 40px;
  margin-inline: 140px;
 }

.heder-top{
display: flex;
width: 1040px;
height: 40px;
}

.navigation-list{
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  padding-inline: 60px;
 }

.heder-menu {
  display: flex;
  width: 1040px;
  height: 50px;
  justify-content: space-between;
  padding-inline: 60px;
}

.heder-bottom{
  display: flex;
}
.slider{
  background-color: transparent;
  width: 560xp;
  margin-left: 140px;
  }

.slider-link{
  background-color: #FFE17F;
}

.discription{
display: flex;
}

.category{
  display: flex;
  width: 1160px;
  margin-inline: 140px;
  justify-content: space-between;
}

.category-item{
  min-width: 160px;
  min-height: 253px;
}

.category-picture{
  background-color: #FFE17F;
  width: 97px;
  height: 55px;
  padding: 53px 31px;
}
